{% import "_includes/forms" as forms %}

{{ forms.dateTimeField({
	label: "Order Start Date"|t,
	id: 'startDate',
	name: 'options[startDate]',
	value: (options.startDate is defined ? options.startDate : defaultStartDate),
	first: true
}) }}

{{ forms.dateTimeField({
	label: "Order End Date"|t,
	id: 'endDate',
	name: 'options[endDate]',
	value: (options.endDate is defined ? options.endDate : defaultStartDate)
}) }}

{{ forms.lightswitchField({
	label: "Display Variants as Individual Products"|t,
	id: 'variants',
	name: 'options[variants]',
	on:  options.variants is defined ? options.variants : null,
	onLabel: "Enable"|t,
	offLabel: "Disable"|t
}) }}