{% import "_includes/forms" as forms %}

{{ forms.dateTimeField({
	label: "Order Start Date"|t,
	id: 'startDate',
	name: 'options[startDate]',
	value: (options.startDate is defined ? options.startDate : defaultStartDate)
}) }}

{{ forms.dateTimeField({
	label: "Order End Date"|t,
	id: 'endDate',
	name: 'options[endDate]',
	value: (options.endDate is defined ? options.endDate : defaultStartDate)
}) }}

{{ forms.lightswitchField({
	label: "Calculate Totals",
	name: 'options[calculateTotals]',
	on: options.calculateTotals is defined ? options.calculateTotals : null
}) }}